<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-700 p-[20px_25px]">
        <h1 class="text-2xl text-white font-bold mb-4">Upload File</h1>
        <form autocomplete="off" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="submit" value="Upload Image">
        </form>

    </div>
</body>

</html>